*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.container{
    border: 2px solid purple;
    width: 70%;
    height: 30%;
}

h1{
    border: 2px solid red;
    width: 50%;
}

.unidade{
    border: 2px solid purple;
    width: 70%;
    height: 30%;
    font: 1px;
}
p{
    font-size: 2rem;
}
.und{
font-size: 1em;
border: 2px solid purple;
}